MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=your_database_user
MYSQL_PASSWORD=your_database_password
MYSQL_DB=nyawit_ai

DASHSCOPE_API_KEY=your_dashscope_api_key_here

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
APP_NAME="Nyawit AI Backend"
DEBUG=True

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

BREVO_API_KEY=your_brevo_api_key
SMTP_USER=your_smtp_email@example.com
SMTP_NAME="NyawitAI"
