MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=nyawit_ai

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
APP_NAME=Nyawit AI Backend
DEBUG=True
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BREVO_API_KEY=
SMTP_USER=
SMTP_NAME="NyawitAI"
